node_modules
.env
rust-analyzer

# Hardhat files
/cache-pvm
/artifacts-pvm
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
/ignition/deployments/
